.card{
    overflow: hidden;
    width: 233px;
    height: 300px;
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: small;
    padding: 19px 23px 31px 23px;
    margin: 13px 6px 11px 2px;
    background-color:rgb(8, 8, 8, 0.7);
    opacity: 0.9;
    box-shadow: 6px 5px 24px #c5c5e1;
    border-radius: 33px;
    cursor: grab;
    text-decoration: none
}

.card:hover{
    color:#ffffff;
    border-color:#5d5b5b;
    box-shadow:inset 0px 1px 0px 0px #474646;
    text-shadow:inset 0px 1px 0px #292929;
    background:linear-gradient(#02031a, #10246a);
    transform: scale(1.1);
}

.img{
    border-radius: 28px;
    height: 100px;
    width: 120px;
    text-decoration: none
}

    .h1{
    color: rgb(4, 237, 249);
    text-decoration: none;
    text-align: initial;
    font-family: cursive;
    font-size:large;
    display: inline;
    -webkit-text-stroke: 1px rgb(122, 129, 223);
}

.h3{
    color: rgb(254, 245, 6);
    text-decoration: none;
    font-family: cursive; 
    margin-top: 1px;
}

.h4{
    color: rgb(254, 245, 6);
    text-decoration: none;
    font-family: cursive; 
    margin-top: 1px;
}

.sinSubrayado{
    text-decoration: none;
    position:relative;
    font-family: 'Merienda One', cursive;
}