body {
  border: 0;
  background: url(https://media.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy.gif);
  background-image: url(https://media.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy.gif);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-decoration: none;
};
