img{
  max-height:100px;
  max-width: 100px;
  contain: content;
  transform: scale(1.1);
  margin: auto;
  }

.containerIcons:hover{
    transform: scale(1.1);
  }

.socials:hover{
  transform: scale(1.1);
  }

.button{
    background-image: linear-gradient(to bottom, rgb(40, 41, 93), #01016d) ;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #090c19;
    box-shadow: 6px 5px 24px #0b071f;
    font-family: cursive;
    font-style: italic;
    font-size: 0.8em;
    color: #fafafa;
    padding: 8px;
    border-left-width: medium;
    display: block;
    border: none;
    cursor:pointer;
  }

  .button:hover{
    background: rgb(53, 21, 185);
    opacity: 0.6;
    font-weight:bold;
    cursor:pointer;
  }

  .h1{
    color: rgb(197, 155, 237);
    text-shadow: 3px 2px 1px #0b0b0b;
    font-size: 5em;
    margin: 0px 0px 22px 0px;
    font-variant: sans-serif;
    -webkit-text-stroke: 3px rgb(10, 10, 10);
    cursor:pointer;
  }

  .rayita{
    text-decoration: none;
  }

  .aboutSubContainer {
    background: -webkit-radial-gradient(#10305810, #0a0011);
    border-radius: 30px;
    box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    -moz-box-shadow: 0px 0px 20px 5px rgba(67,87,179,0.67) inset;
    width: 50%;
    max-width: 60%;
    margin: 3rem auto;
    padding: 1rem 0.5rem;
    margin-top: 0px;
    height: auto; 
}

  .aboutSubContainer:hover{
    background: rgba(54, 21, 185, 0);
    opacity: 1;
    box-shadow: 6px 5px 24px #0b071f;
    font-weight:bold;
    cursor:pointer;
  }

.by{
    background-image: linear-gradient(to bottom, rgb(40, 41, 93), #01016d) ;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #090c19;
    box-shadow: 6px 5px 24px #0b071f;
    font-family: cursive;
    font-style: italic;
    font-size: 0.8em;
    color: #fafafa;
    padding: 8px;
    border-left-width: medium;
    display: block;
    border-top: 10px;
}

.allcountries{
    overflow: hidden;
    width:fit-content;
    align-content: center;
    align-items: center;
    font-size: small;
    margin: 13px 6px 11px 2px;
    background-color:rgb(8, 8, 8, 0.7);
    opacity: 0.9;
    box-shadow: 6px 5px 24px #c5c5e1;
    border-radius: 33px;
    cursor: grab;
    text-decoration: none;
}

.by2{
    overflow: hidden;
    width:fit-content;
    align-content: center;
    align-items: center;
    font-size: medium;
    margin: 13px 6px 11px 2px;
    background-color:rgb(8, 8, 8, 0.7);
    opacity: 0.9;
    box-shadow: 6px 5px 24px #c5c5e1;
    border-radius: 33px;
    text-decoration: none;
}

@media screen and (max-width: 568px) {
  img {
    max-height: 50px;
    max-width: 50px;
    transform: translateX(0%) translateY(3%);
    display: flex;
    justify-content:center;
    margin: 10px auto;
    position: static;
    display: block;
  }
}