.rayita{
    text-decoration: none;
  }

  .by{
    background-image: linear-gradient(to bottom, rgb(40, 41, 93), #01016d) ;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #090c19;
    box-shadow: 6px 5px 24px #0b071f;
    font-family: cursive;
    font-style: italic;
    font-size: 0.8em;
    color: #fafafa;
    padding: 8px;
    border-left-width: medium;
    display: block;
    border-top: 10px;
    margin-top: 200px;
}

img {
  margin-top: 5px;
  box-shadow: 6px 5px 24px #0b071f;
  padding: 8px;
  border-radius: 38px;

}