select{
    
  background-image: linear-gradient(to bottom, rgb(10, 7, 48), #121313) ;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #101012;
    box-shadow: 6px 5px 24px #666666;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:normal;
    font-size: 1em;
    color: #fafafa;
    padding: 5px;
    right: 300px;
    top: 250px;
    position: unset;
    margin: 13px 6px 11px 2px;
    cursor:pointer;
  }

  select:hover{
    background: rgb(85, 130, 253);
    font-weight:bold;
  }

option{
  background-image: linear-gradient(to bottom, rgb(119, 119, 119), #121313) ;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    box-shadow: 6px 5px 24px #041294;
    font-family: cursive;
    font-style: oblique;
    font-size: 1em;
    color: #fafafa;
    padding: 4px;
    right: 300px;
    top: 250px;
    position: unset;
  }

  option:hover{
    background: rgb(85, 130, 253);
    font-weight:bold;
  }

  h1{
    margin: 24px 6px 0px -1px;
    color: rgb(85, 130, 253);
    -webkit-text-stroke: 1px rgb(107, 49, 241);
  }

  h2{
    font-weight:bold;
    margin: 24px 6px 0px -1px;
    color: rgb(3, 211, 252);
    -webkit-text-stroke: 0.1px rgb(7, 235, 252);
  }