.paginated {
	margin:20px 0;
}

.paginated ul {
	list-style:none;
	text-align: center;
}

.paginated ul li {
	display:inline-block;
	margin-right:2px;
}

.paginated ul li a {
	display:block;
	padding:10px 10px;
	color:#fff;
	background-image: linear-gradient(to bottom, rgb(54, 44, 234), #121313) ;
	text-decoration: none;
    border-radius: 9px;
}

.paginated ul li a:hover {
	background:rgb(3, 2, 61);
	cursor:pointer;
}

.paginated ul li .active {
	background:rgb(7, 33, 178);
	font-weight:bold;
}

.paginated li a.active {
    background-color: #007bff;
    color: #fff;
}

.paginated li a.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: #ccc;
}
.paginated li a.disabled::before {
  content: '\1F6AB';
}
