.h2{
    font-size: 2.5em;
    color: rgb(252, 5, 195);
    -webkit-text-stroke: 1px rgb(248, 248, 243);
}

.boton{
    background-image: url(https://media.giphy.com/media/l0MYPsBLOYyFqSDte/giphy.gif);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 300px;
    box-shadow: 6px 6px 33px #666666;
    padding: 140px;
    top:200px;
    border-left-width: medium;
    display: block;
    border: none;
    cursor:pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }

    .boton:hover{
        background: url(https://media.giphy.com/media/SzBlFsQg26JL0s12P9/giphy.gif);
        font-weight:bold;
        border-radius: 300px;
        background-position: center;
        cursor:pointer;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top:200px;
    }

    .link{
        text-decoration: none;
        
    }

    .h3{
    margin: 24px 6px 0px -1px;
    color: rgb(7, 80, 248);
    text-align: center;
    -webkit-text-stroke: 0.3px rgba(245, 134, 228, 0.639);
    font-weight:bold;
    text-decoration:underline;
    display: block;
    padding: -20px;
}

.div{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Estilos para pantallas pequeñas */


    @media all and (max-width: 500px) {

    .div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .boton {
        bottom: 0;
        left:50%;
        right: 50%;
        margin: auto;
        position: static;
        display: block;
        width: 75%;
        transform: translateX(0%) translateY(3%);
    }
    .h2 {
        display: flex;
        flex-direction: column;
        align-items:stretch;
        justify-content: center;
        
    }
    .h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .boton:hover {
        bottom: 0;
        left:0 auto;
        right: 0 auto;
        margin: 10px auto;
        position: static;
        display: block;
        width: 75%;
        
    }
    .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}